.bg_image {
    @apply bg-[url('../../public/images/pattern-background-desktop-light.svg')] bg-cover bg-center bg-no-repeat min-h-screen;
    
    @media (max-width: 600px) {
        background-image: url('../../public//images/pattern-background-mobile-light.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.dark_bg {
    @apply bg-[url('../../public/images/pattern-background-desktop-dark.svg')] bg-cover bg-center bg-no-repeat min-h-screen bg-[#000];
    
    @media (max-width: 600px) {
        background-image: url('../../public//images/pattern-background-mobile-dark.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
